---
import type { Modes, TypesLeaderBoard } from "@/utils";
import { getLeaderboard } from "@/services/leaderboard";
import Trophy from "@/assets/Trophy.astro";
import { Image } from "astro:assets";
import Add from "@/assets/Add.astro";

interface Props {
  mode: Modes;
  type: TypesLeaderBoard;
}

const typeDisplayMap: Record<TypesLeaderBoard, string> = {
  kill: "Kills",
  elo: "ELO",
  koth: "KOTHs",
  kd: "K/D",
  maxstreak: "Mayor Racha",
  level: "Nivel",
};

const { mode, type } = Astro.props;

const data = await getLeaderboard({ mode, type });

const trophyColors = {
  1: "#FFD700",
  2: "#C0C0C0",
  3: "#CD7F32",
};

// Cache control for performance optimization
// Astro.response.headers.set("Cache-Control", "public, max-age=30");
---

<div class="leaderboard-container">
  <div class="title">
    <span class="rank">#</span>
    <span class="player">Jugador</span>
    <span class="value">{typeDisplayMap[type]}</span>
    <span class="update">Ultima Actualizacion</span>
  </div>
  <div class="content">
    {
      data && data.length > 0 ? (
        data.map((player) => (
          <a class="data" href={`players/${player.userProfile.uuid}`}>
            <span class="rank">
              {player.rank <= 3 ? (
                <Trophy
                  width={32}
                  height={32}
                  color={trophyColors[player.rank as keyof typeof trophyColors]}
                />
              ) : (
                <span class="numeric-rank">{player.rank}</span>
              )}
            </span>
            <span class="player">
              <Image
                src={
                  player.userProfile.premiumId
                    ? `https://render.crafty.gg/3d/bust/${player.userProfile.premiumId}`
                    : player.userProfile.skinUUID
                      ? `https://render.crafty.gg/3d/bust/${player.userProfile.skinUUID}`
                      : `https://render.crafty.gg/3d/bust/null`
                }
                alt={"asd"}
                width={60}
                height={60}
                class="player-image"
              />
              {player.userProfile.lastNickname}
            </span>
            <span class="value">{player.value}</span>
            <span class="update">
              {/* <Add color="#4CAF50" size={24}/> */}
              {player.dailyDelta}
            </span>
          </a>
        ))
      ) : (
        <div class="no-data">No se encontraron resultados</div>
      )
    }
  </div>
</div>

<style>
  .leaderboard-container {
    border: 1px solid var(--color-divider);
    padding: 2.5rem;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;

    & span {
      font-weight: 500;
      font-size: var(--fs-md);
      opacity: 0.4;
    }
  }

  /* Common column classes for consistent alignment */
  .rank {
    width: 5%;
    text-align: left;
    align-content: center;
  }

  .player {
    width: 30%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .value {
    width: 20%;
    text-align: left;
    align-content: center;
  }

  .update {
    width: 20%;
    align-content: center;
    /* text-align: left; */
    /* display: flex; */
    /* align-items: center; */
    /* gap: 0.3rem; */
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-divider);
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 200ms ease;

    &:hover {
      background-color: rgb(60 60 60 / 0.3);

      transform: translateX(-1rem);
    }



    & span {
      font-family: "Seven";
      font-weight: 900;
      font-size: var(--fs-md);
    }

    & span:last-child {
      text-align: center;
    }
  }


</style>
